.container {
  display: inline-block;
  flex-direction: column;
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.content {
  background-color: greenyellow;
  border: 1px solid grey;
  padding: 10px;
  width: 100%;
}

#main {
  width: 100%;
  display: flex;
}

#tb {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tb td,
#tb th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tb tr:nth-child(even) {
  background-color: #f2f2f2;
}

#tb tr:hover {
  background-color: #ddd;
}

#tb th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}
